---

---

<button>
  <slot />
</button>

<style>
  button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--primary03);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: var(--primary01);
    color: var(--primary03);
  }
</style>
